.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.login-card {
  width: 340px;
  padding: 1.5rem;
}

.field {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}


.error {
  color: #d32f2f;
  margin-bottom: 0.75rem;
}


:host ::ng-deep .psw-field .mat-mdc-form-field-error-wrapper {
  position: unset;
  height: auto;
}

:host ::ng-deep .psw-field .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align::before {
  display: none;
}


